body {
  background-color: #674baf;
  color: white;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo {
  padding: 1.5% 3%;
}

.content {
  display: flex;
}

.content .image-content {
  padding: 5% 5% 0 5%;
}

.content .text-content {
  padding: 3% 3% 3% 0;
}

.content .text-content .heading {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: 600;
  padding-top: 5%;
}

.content .text-content .sub-text {
  font-family: "Open Sans", sans-serif;
  padding-right: 25%;
}

.button {
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 23px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #674baf;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  width: 200px;
  height: 56px;
  margin: 3% 0;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.social-icon {
  border: 1px solid white;
  border-radius: 26px;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
}

.button:hover {
  color: white;
  background-color: #e882e8;
}

.social-icon:hover {
  color: #e882e8;
  border: 1px solid #e882e8;
}

@media (max-width: 1250px) {
  body {
    background-image: url("../images/bg-mobile.svg");
  }
  .logo {
    width: 120px;
    padding: 5%;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content .image-content {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .content .image-content img {
    width: 296px;
    padding-top: 8%;
  }
  .content .text-content {
    text-align: center;
    padding: 3%;
  }
  .content .text-content .heading {
    font-size: x-large;
    margin: 0;
    padding-top: 15%;
  }
  .content .text-content .sub-text {
    padding: 5%;
  }
  .button {
    height: 40px;
    font-size: small;
  }
  .links {
    justify-content: center;
    padding: 5% 0 5% 0;
  }
  .social-icon {
    border-radius: 26px;
    font-size: small;
    text-align: center;
    width: 30px;
    height: 30px;
  }
}
