// Text
$font-heading: 'Poppins',
sans-serif;
$font-body: 'Open Sans',
sans-serif;

// Colours
$primary-colour: hsl(257, 40%, 49%);
$secondary-colour: white;
$hover-colour: hsl(300, 69%, 71%);

// Images
$background-image: url('../images/bg-desktop.svg');