@import 'config';

body {
    // colours
    background-color: $primary-colour;
    color: $secondary-colour;
    // background
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

// HEADER SECTION
.logo {
    padding: 10px 20px;
}

// MAIN CONTENT SECTION
.content {
    display: flex;

    .image-content {
        padding: 75px 75px 0 75px;
    }

    .text-content {
        padding: 50px 50px 50px 0;

        .heading {
            font-family: $font-heading;
            font-size: xx-large;
            font-weight: 600;
            padding-top: 50px;
        }

        .sub-text {
            font-family: $font-body;
            max-width: 400px;
            padding-right: 150px;
        }
    }
}

.button {
    // styling
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 23px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: $primary-colour;
    font-family: $font-body;
    font-size: medium;

    // sizing
    width: 200px;
    height: 56px;

    // layout
    margin: 40px 0;
}

// FOOTER SECTION

.links {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 100px;

    a {
        color: $secondary-colour;
    }
}

.social-icon {
    border: 1px solid $secondary-colour;
    border-radius: 26px;
    display: inline-block;
    text-align: center;

    // sizing
    width: 30px;
    height: 30px;
}


@import 'utilities';
@import 'mobile';